@using WebMaze.ResourceLocalization
@using WebMaze.Services.GuessTheNumber
@model GuessTheNumberGameDifficulty
<div>
    @GuessTheNumber.Select_Difficulty.
</div>
<form action="/GuessTheNumber/StartGame" method="post">
    <div>
        <select name="difficulty">
            <option value="@GuessTheNumberGameDifficulty.Easy">
                @GuessTheNumber.Easy.ToString()
            </option>
            <option value="@GuessTheNumberGameDifficulty.Medium">
                @GuessTheNumber.Medium.ToString()
            </option>
            <option value="@GuessTheNumberGameDifficulty.Hard">
                @GuessTheNumber.Hard.ToString()
            </option>
        </select>

        <input type="submit" value="@GuessTheNumber.Start" />
    </div>
</form>