@model List<MazeDifficultProfileViewModel>

    <div class="menu-maze-difficult">
        <a href="/Maze/AddMazeDifficult">Add Maze Difficult</a>
    </div>

    <div>

        @foreach (var difficult in Model)
        {
        <div class="manage-maze-difficult">
            <div>
                Author: @difficult.Author
            </div>
            <div>
                Name: @difficult.Name
            </div>
            <div>
                Width: @difficult.Width
            </div>
            <div>
                Height: @difficult.Height
            </div>
            <div>
                HeroMoney: @difficult.HeroMoney
            </div>
            <div>
                HeroMaxHp: @difficult.HeroMaxHp
            </div>
            <div>
                HeroMaxFatigue: @difficult.HeroMaxFatigue
            </div>
            <div>
                CoinCount: @difficult.CoinCount
            </div>
            <a href="/Maze/RemoveMazeDifficult?Id=@difficult.Id">X</a>
            <a href="/Maze/AddMazeDifficult?Id=@difficult.Id">E</a>

        </div>
        }
    </div>
