@model BookViewModel

<div class="text-center add-book">
    <form action="/Home/AddBook" method="post">
            <fieldset>
                <legend><b>Enter Data:</b></legend>
                <label>Book Name:</label><br>
                <div>@Html.TextBoxFor(x => x.Name, new{required = "required"})</div>
                <label>Book Author:</label><br>
                <div>@Html.TextBoxFor(x => x.Author, new{required = "required"})</div>
                <label>Date of Release:</label><br>
                <div>@Html.TextBoxFor(x => x.ReleaseDate, new{@type="date", required = "required"})</div>
                <label>Link of book(if exist):</label><br>
                <div>@Html.TextBoxFor(x => x.Link)</div>
                <label>Link of book image(if exist):</label><br>
                <div>@Html.TextBoxFor(x => x.ImageLink)</div>
                <label for="comment">Book description:</label><br/>
                <div>@Html.TextAreaFor(x => x.Desc, new{required = "required"})</div>
                <div><input type="submit" value="Save"/></div>
            </fieldset>
    </form>
</div>
