@model MazeDifficultProfileViewModel

<div class="text-center">
    <form action="/Home/AddMazeDifficult" method="post">
        <div>
            Name @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            HeroMoney @Html.TextBoxFor(x => x.HeroMoney)
        </div>
        <div>
            HeroMaxHp @Html.TextBoxFor(x => x.HeroMaxHp)
        </div>
        <div>
            HeroMaxFatigue @Html.TextBoxFor(x => x.HeroMaxFatigue)
        </div>
        <div>
            CoinCount @Html.TextBoxFor(x => x.CoinCount)
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
