@model List<BookViewModel>

 <fieldset class = "book">
	<legend><b>Books:</b></legend>
<div>
	@foreach (var book in Model)
	{
		<details>
			<summary>
				@book.Name<div id="publicationDate">Publicated: @book.PublicationDate</div>
			</summary>
			<div class="desc">
				<div class="block">
				<div class="block_inner">
					@if(book.ImageLink != null)
					{
					<img src="@book.ImageLink" class="image">
					}
					@if(book.ImageLink == null)
					{
					<img src="~/images/NoImage.jpg" class="image">		
					}
				</div>
				</div>
				<div class="elements">
					<p>
						<b>Author:</b> @book.Author
					</p>
					<p>
						<b>Release Date: </b> @book.ReleaseDate
					</p>
				</div>
				<div class="desc1">
					<p><b>Description:</b></p>
					<p>@book.Desc</p>
				</div>
				<div class="link">
					@if(book.Link != null)
					{
						<b><a href="@book.Link" target="_blank">Link</a></b>
					}
				</div>
			</div>
		</details>
	}
</div>
</fieldset>
