@model SortedBooksViewModel
@using WebMaze.Models.Enums

@section Scripts{
    <link rel="stylesheet" href="~/css/bookButtons.css" />
}

<fieldset class="book">
    <legend><b>Books:</b></legend>

    <div class="buttons-block">
        <b class="text1">Sort by:</b>
        <div class="buttons-bl">
            <a href="@Url.Action("Book", "Home", new { bookFilter = "Name", asc = (Model.BookFilter == "Name" ? !Model.Asc : true) })" class="button @Html.Raw(Model.BookFilter == "Name" ? "change-color" : string.Empty)">Book name</a>
            <a href="@Url.Action("Book", "Home", new { bookFilter = "Author", asc = (Model.BookFilter == "Author" ? !Model.Asc : true) })" class="button @Html.Raw(Model.BookFilter == "Author" ? "change-color" : string.Empty)">Author</a>
            <a href="@Url.Action("Book", "Home", new { bookFilter = "ReleaseDate", asc = (Model.BookFilter == "ReleaseDate" ? !Model.Asc : true) })" class="button @Html.Raw(Model.BookFilter == "ReleaseDate" ? "change-color" : string.Empty)">Release Date</a>                      
            <a href="@Url.Action("Book", "Home", new { bookFilter = "Creator.Name", asc = (Model.BookFilter == "Creator.Name" ? !Model.Asc : true) })" class="button @Html.Raw(Model.BookFilter == "Creator.Name" ? "change-color" : string.Empty)">Creator of the record</a>
        </div>
    </div>

    <div>
        @foreach (var book in Model.Books)
        {
            <details>
                <summary>
                    @book.Name<div id="publicationDate">Publicated: @book.PublicationDate</div>
                </summary>
                <div class="desc">
                    <div class="block">
                        <div class="block_inner">
                            @if (book.ImageLink != null)
                            {
                                <img src="@book.ImageLink" class="image">
                            }
                            @if (book.ImageLink == null)
                            {
                                <img src="~/images/NoImage.jpg" class="image">
                            }
                        </div>
                    </div>
                    <div class="elements">
                        <p>
                            <b>Author:</b> @book.Author
                        </p>
                        <p>
                            <b>Release Date: </b> @book.ReleaseDate
                        </p>
                    </div>
                    <div class="desc1">
                        <p><b>Description:</b></p>
                        <p>@book.Desc</p>
                    </div>
                    <div class="link">
                        @if (book.Link != null)
                        {
                            <b><a href="@book.Link" target="_blank">Link</a></b>
                        }
                    </div>
                </div>
            </details>
        }
    </div>
</fieldset>
