@model List<GameViewModel>

    <div class="title">
        Favorite Games 
    </div>           
    
    <div>
                   @foreach (var game in Model)
                   {
        <div>


            <div class="title1">
                <b>@game.Name</b>
            </div>
            <div class="desc">
                <div class="elements">
                    <p>
                        <b>Genre:</b> @game.Genre
                    </p>
                    <p>
                        <b>Year of Production:</b> @game.YearOfProd
                    </p>
                    <p>
                        <b>Rating:</b> @game.Rating/10
                    </p>
                </div>
                <div class="desc1">
                    <p><b>Description:</b> @game.Desc</p>
                </div>
                <div class="el">
                    <p><b>Username:</b> @game.Username</p>
                </div>
            </div>



        </div>
                   }

    </div>
