@model List<MovieViewModel>

<div>
    <h1>Movies library</h1>
    @foreach (var MovieViewModels in Model)
    {

        <span>
            @MovieViewModels.TitleGame
            @MovieViewModels.TitleMovie
            @MovieViewModels.Release
            <a href="@MovieViewModels.Link">Смотреть</a>
            
            <img src="@MovieViewModels.Img" />
            <a href="~/images/Movie/MK.jpg">картинка</a>
        </span>
        <br />
    }

    



</div>