@model RequestForMoneyViewModel

<form name="myForm" action="/RequestforMoney/AddRequestCoins" onsubmit="return validateForm()" method="post">
    @Html.HiddenFor(x => x.Id)
    <div>
        <div>
            Request for money field
        </div>
        <div>
            <div>
                User Name: @Html.TextBoxFor(x => x.RequestRecipient)
            </div>
            <div>
                @Html.ValidationMessageFor(x => x.RequestRecipient)
            </div>
        </div>
        <div>
            Request coins: @Html.TextBoxFor(x=>x.RequestAmount)
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.RequestAmount)
        </div>        

        <div>
            @Html.ValidationSummary(true)
        </div>

        <div class="js-transaction-field">
            <input type="submit" value="Request coins" class="transactionButton" />
        </div>

        <div>
            <a href="/RequestForMoney/RequestCoins">Request Coins</a>
        </div>

    </div>
</form>