@model ZumaGameDifficultViewModel

@section Scripts{
    <script src="~/js/zumagameDiffPreview.js"></script>
}

<div class="menu-zumagame-difficult">
    <a href="/ZumaGame/Index">Index</a>
</div>

<div class="zumagame-difficult-block">
    <div class="text-center">
        <form action="/ZumaGame/AddDifficult" method="post">
            @Html.HiddenFor(x => x.Id)
            <div class="add-zumagame-difficult">
                <div>
                    <div class="zumagame-difficult-width">
                        Width: @Html.TextBoxFor(x => x.Width, new { type = "number", autocomplete = "off", @class = "diffWidth" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(x => x.Width)
                    </div>
                </div>
                <div>
                    <div class="zumagame-difficult-height">
                        Height: @Html.TextBoxFor(x => x.Height, new { type = "number", autocomplete = "off", @class = "diffHeight" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(x => x.Height)
                    </div>
                </div>
                <div>
                    <div>
                        ColorCount: @Html.TextBoxFor(x => x.ColorCount, new { type = "number", autocomplete = "off", @class = "diffColorCount" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(x => x.ColorCount)
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
    <div class="difficult-preview-block">
        <div class="zumagame-difficult-preview">

        </div>
    </div>
</div>