@using WebMaze.ResourceLocalization

@model ZumaGameDifficultViewModel

<div class="menu-zumagame-difficult">
    <a href="/ZumaGame/Index">@ZumaGame.Index</a>
</div>

<div class="text-center">
    <form action="/ZumaGame/AddDifficult" method="post">
        @Html.HiddenFor(x => x.Id)
        <div class="add-zumagame-difficult">
            <div>
                <div>
                    @ZumaGame.Width @Html.TextBoxFor(x => x.Width, new { @type = "number", autocomplete = "off" })
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Width)
                </div>
            </div>
            <div>
                <div>
                    @ZumaGame.Height @Html.TextBoxFor(x => x.Height, new { @type = "number", autocomplete = "off" })
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Height)
                </div>
            </div>
            <div>
                <div>
                    @ZumaGame.ColorCount @Html.TextBoxFor(x => x.ColorCount, new { @type = "number", autocomplete = "off" })
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.ColorCount)
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="@ZumaGame.Save" />
        </div>
    </form>
</div>
