@using WebMaze.ResourceLocalization

@model ZumaGameIndexViewModel

<div class="big-center-font">
    @ZumaGame.Welcome
</div>

<div class="menu-zumagame-difficult">
    <a href="/ZumaGame/AddDifficult">@ZumaGame.AddDifficult</a>
</div>

<div>
    @ZumaGame.ProfileCoins @Model.Coins
</div>

<div class="big-center-font">
    @if (Model.Continue)
    {
        <a href="/ZumaGame/ContinueGame">@ZumaGame.ContinueGame</a>
    }
</div>
<div>

    @foreach (var difficult in Model.ViewModels)
    {
        <div class="manage-zumagame-difficult">
            <div>
                @ZumaGame.Author @difficult.Author
            </div>
            <div>
                @ZumaGame.Width @difficult.Width
            </div>
            <div>
                @ZumaGame.Height @difficult.Height
            </div>
            <div>
                @ZumaGame.ColorCount @difficult.ColorCount
            </div>
            <div>
                @ZumaGame.Price @difficult.Price
            </div>
            <a href="/ZumaGame/RemoveDifficult?difficultId=@difficult.Id">X</a>

            <a href="/ZumaGame/AddDifficult?difficultId=@difficult.Id">E</a>

            @if (!Model.Continue && Model.Coins >= difficult.Price)
            {
                <a href="/ZumaGame/NewGame?difficultId=@difficult.Id">@ZumaGame.NewGame</a>

            }
        </div>
    }
</div>
