@model List<ImageViewModel>
@using WebMaze.Models.Enums;


@section Scripts{
    <script src="~/js/galleryAjax.js"></script>
}


<form action="@Url.Action("GetSorted", "Gallery", new {inColumnName = "Assessment", inSortType = SortType.GreaterThan })" method="GET">
    <a href="#">Sorted by int</a>
    <input type="number" name="inValue">
    <input type="submit" value="Send" />
</form>

<form action="@Url.Action("GetSorted", "Gallery", new {inColumnName = "Author.Name", inSortType = SortType.Equal} )" method="GET">
    <a href="#">Sorted by name</a>
    <input type="text" name="inValue">
    <input type="submit" value="Send" />
</form>



<div class="whole-page">

    <div class="text-center">
        <h1>Users gallery</h1>

        <div class="pic-to-gallery">
            @foreach (var image in Model)
            {
            <div>
                <div>
                    <img class="image" src="@image.Picture">
                </div>
                <div class="t-to-gallery">
                    @image.Assessment
                </div>
                <div class="t-to-gallery">
                    @image.Description
                </div>
                @if (User.Identity.IsAuthenticated)
                    {
                <div>
                    <a href="@Url.Action("Wonderful","Gallery", new {@imageId = image.Id})" data-id="@image.Id" class="good-button">Wonderful</a>
                    <button class="bad-button">Awful</button>
                </div>
                    }

            </div>

            }
        </div>
    </div>
</div>
