@model List<ImageViewModel>

<form action="@Url.Action("Sorted", "Gallery")" method="GET">
    <a href="#">Sorted by prop</a>
    <input type="text" name="inputProp">    
    <input type="submit" value="Send" />
</form>

<div class="whole-page">

        <div class="text-center">
            <h1>Users gallery</h1>

            <div class="pic-to-gallery">
                @foreach (var image in Model)
                {
                    <div>
                        <div>
                            <img class="image" src="@image.Picture">
                        </div>
                        <div class="t-to-gallery">
                            @image.Assessment
                        </div>
                        <div class="t-to-gallery">
                            @image.Description
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <a href="@Url.Action("Wonderful","Gallery", new {@imageId = image.Id})" class="good-button">Wonderful</a>
                                <button class="bad-button">Awful</button>
                            </div>
                        }

                    </div>

                }
            </div>
        </div>
    </div>
