@model List<GameViewModel>

@{
    Layout = "~/Views/Shared/_LayoutFavGames.cshtml";
}


<div class="favGames-page">
    <div class="favGame-links">
        <a href="/Home/Index" class="favGame-link">Back to Home</a>
        <a href="/Game/AddGame" class="favGame-link">Add FavGame</a>
    </div>

    <div class="main-title-favGames">

        <ul>
            <li>
                <input type="checkbox" />
                <div class="letter">F</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">a</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">v</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">G</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">a</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">m</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">e</div>
            </li>
            <li>
                <input type="checkbox" />
                <div class="letter">s</div>
            </li>
        </ul>

    </div>

    <div class="main-title-hint">click the letters!</div>

    <div class="sorting">
        <div class="sorting-sort-by">
            Sort by:
        </div>
        <div class="sorting-buttons">
            <button class="sorting-button"><b>Title</b></button>
            <button class="sorting-button"><b>Release Date</b></button>
            <button class="sorting-button"><b>Rating</b></button>
            <button class="sorting-button"><b>Author's Username</b></button>
            <button class="sorting-button"><b>Author's Age</b></button>
        </div>
    </div>

    <div class="favGames-block">
        @foreach (var game in Model)
        {
            <div class="each-favGame">


                <div class="title-favGame">
                    <b>@game.Name</b>
                </div>
                <div class="all-about-favGame">
                    <div class="game-elements">
                        <div>
                            <b>Genre:</b> @game.Genre
                        </div>
                        <div>
                            <b>Year of Production:</b> @game.YearOfProd
                        </div>
                        <div>
                            <b>Rating:</b> @game.Rating/10
                        </div>
                    </div>
                    <div class="favGame-description"  >
                        <b>Description:</b> @game.Desc
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <br>
                            <a href="@Url.Action("Wonderful","Game", new { @gameId = game.Id})" class="good-button">Wonderful</a>
                            <a href="@Url.Action("Awful","Game", new {@gameId = game.Id})" class="bad-button">Awful</a>
                        }
                    </div>
                    </div>
                    <div class="favGame-user-elements">
                        <div><b>Username:</b> @game.Username</div>
                        <div><b>Age:</b> @game.Age</div>
                    </div>
                </div>



            </div>
        }

    </div>

</div>
