@model AdminMenuViewModel
@section Scripts{
<link rel="stylesheet" href="~/css/AdminPanelForUserEditing.css" />
}

<div class="PageBody">
    <div class="PageBodyContainer">
        <font class="HeaderOfPageBody">
            Admin Panel
        </font>

        <div class="MainPageBodyPart">
            <div class="MainHeader">
                <div class="UserListName">
                    User List
                </div>
                <div class="PermissionsName">
                    Permissions
                </div>
            </div>
            <div class="MainTableNames">
                <table>
                    <tr>
                        <td width= 7%><div class="ZeroColumn">Id</div></td>
                        <td width= 28%><div class="FirstColumn"></div></td>
                        <td width= 17%><div class="SecondColumn">Admin</div></td>
                        <td width= 17%><div class="ThirdColumn">News Creator</div></td>
                        <td width= 17%><div class="FourthColumn">Forum Moderator</div></td>
                        <td width= 17%><div class="FifthColumn">Ban</div></td>
                    </tr>
                </table>
            </div>
            <div class="MainTable">
                <table>
                    @foreach (var user in Model.Users)
                    {
                    <tr>
                        <td width= 7%><div id="Scc-@user.Id" class="IdColumn">@user.Id</div></td>
                        <td width= 28%>
                            <div id="Ftc-@user.Id" class="FirstColumn">
                                    @if (@user.Id == @Model.currUser.Id)
                                    {
                                       <text>@user.UserName (You)</text>
                                    }
                                    @if (@user.Id != @Model.currUser.Id)
                                    {
                                        <text>@user.UserName</text>
                                    }
                            </div>
                            </td>
                        <td width= 17%><div id="Scc-@user.Id" class="SecondColumn"><input class="apple-switch" type="checkbox"></div></td>
                        <td width= 17%><div id="Thc-@user.Id" class="ThirdColumn"><input class="apple-switch" type="checkbox"></div></td>
                        <td width= 17%><div id="Foc-@user.Id" class="FourthColumn"><input class="apple-switch" type="checkbox"></div></td>
                        <td width= 17%>
                            <div id="Ffc-@user.Id" class="FifthColumn"><input class="apple-switch-red"
                                @if (!@user.IsActive){
                                    <text>checked</text>
                                }
                            type="checkbox"></div></td>
                    </tr>
                    }
                </table>
            </div>
            <!-- Проверка -->
            <div>
                 <div class=submitChanges> Submit </div>
                 @foreach (var user in Model.Users)
                {
                    <div>
                    @Html.RadioButton($"UserId {user.Id} {user.UserName}", @user.Id, false )
                    @user.Id
                    @user.UserName
                    </div>
                }
            </div>
            <!-- Проверка -->
    </div>
</div>
</div>
