@model List<ControllerViewModel>
    <script src="~/js/reflectionSpoiler.js"></script>
    <link rel="stylesheet" href="~/css/Refllection.css" />

    <div class="text-center">
        <h3>Pages</h3>
        <div>Contollers count: @Model.Count</div>

        @foreach (var controller in Model)
        {


            <div class="controller-block">
                <div>
                    @foreach (var attr in controller.AttributeNames)
                    {
                        <span class="attribute">[@attr]</span>
                    }
                </div>

                <div>
                    <a href="#" class="spoiler-trigger">
                        <span>
                            @controller.Name (@controller.ActionCount)
                        </span>
                    </a>
                    <div class="spoiler-block">

                        <div>
                            
                                @foreach (var action in controller.Actions)

                                {
                                       <div>
                                            
                                                    <div>

                                                        <a href="#" class="spoiler-trigger">
                                                            @action.Name
                                                        </a>

                                                            <span class="spoiler-block">
                                                                 (
                                                        
                                                            @foreach (var paramName in action.ParamsNames)
                                                            {
                                                                <span class="paramName">@paramName</span>
                                                            }
                                                            )
                                                                <div>
                                                                        @foreach (var attr in action.AttributeNames)
                                                                        {
                                                                            <span class="attribute action">[@attr]</span>
                                                                        }
                                                            

                                                                </div>
                                                        </span>
                                                    </div>
                                       </div>
                                }
                                    
                        </div>

                    </div>

                </div>

                    
            </div>
        }
    </div>
