@model NewsViewModel

@{
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

<div class="offset-lg-0 col col-12">
    <a asp-action="Index" asp-controller="Home">Home/</a>
    <a asp-action="Index" asp-controller="News">News/</a>
    <a>Adding news</a>
</div>

<div>
    <h2 style="text-align:center">Adding news</h2>
</div>


<div class="text-center">
    <form action="/News/AddNews" method="post">
        <div>
            <div>
                <p>Title of news: @Html.TextBoxFor(x => x.Title)</p>
            </div>
            <div>
                <p>Text of news: @Html.TextAreaFor(x => x.Text)</p>
            </div>
            <div>
                <p>Location of news: @Html.TextBoxFor(x => x.Location)</p>
            </div>
            <div>
                <p>Date of event: @Html.TextBoxFor(x => x.EventDate)</p>
            </div>
            <div>
                <p>Author: @Html.TextBoxFor(x => x.NameOfAuthor)</p>
            </div>
        </div>
        
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>


<style>
    #Title
    {
        width:20%;
    }

    #Text {
        width: 20%;
    }

    #Location
    {
        width: 17%;
    }

    #EventDate {
        width: 20%;
    }

    #NameOfAthor {
        width: 25%;
    }
</style>