@model NewsViewModel

<div class="text-center">
    <form action="/News/AddNew" method="post">
        <div>
            Title @Html.TextBoxFor(x => x.Title)
        </div>
        <div>
            Text @Html.TextBoxFor(x => x.Text)
        </div>
        <div>
            Location @Html.TextBoxFor(x => x.Location)
        </div>
        <div>
            Date Of New @Html.TextBoxFor(x => x.DateOfNew)
        </div>
        <div>
            Name Of athor @Html.TextBoxFor(x => x.NameOfAthor)
        </div>



        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>
