@model NewsViewModel

<div class=text-center>
    <h2>Adding news</h2>
</div>


<div>
    <form action="/News/AddNews" method="post">
        @Html.HiddenFor(x => x.Id)
        <div>
            <div>
                <div>Title of news: @Html.TextBoxFor(x => x.Title)</div>
                <div>@Html.ValidationMessageFor(x => x.Title)</div>
            </div>
            <div>
                <div>
                    Text of news: @Html.TextAreaFor(x => x.Text)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Text)
                </div>
            </div>
            <div>
                <div>
                    Location of news: @Html.TextBoxFor(x => x.Location)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Location)
                </div>
            </div>
            <div>
                <div>
                    Date of event: @Html.TextBoxFor(x => x.EventDate)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.EventDate)
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>