@model List<NewsViewModel>

<div class="header">
    <h2>NEWS</h2>
</div>

<div class="container">
    <div class="row justify-content-center">

        <table class="table table-bordered">
            <thead>
                <tr class="align-content-md-center">
                    <th scope="col">Title of news</th>
                    <th scope="col">Text of news</th>
                    <th scope="col">Location of news</th>
                    <th scope="col">Date of event</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date of creation</th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th scope="col">Actions</th>
                    }

                </tr>
            </thead>

            <tbody>
                @foreach (var news in Model)
                {
                    <tr>
                        <td>
                            <span>@news.Title</span>
                        </td>
                        <td>
                            <span>@news.Text</span>
                        </td>

                        <td>
                            <span>@news.Location</span>
                        </td>
                        <td>
                            <span>@news.EventDate.ToShortDateString()</span>
                        </td>
                        <td class="global-user-rating">
                            <p>@news.NameOfAuthor</p>
                            <p class="@(news.GlobalUserRating > 0 ? "rich" : "poor")">@news.GlobalUserRating</p>
                        </td>
                        <td>
                            <span>@news.CreationDate.ToShortDateString()</span>
                        </td>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <td>
                                <a href="/News/RemoveNews?newsId=@news.Id">X</a>
                                <a href="/News/AddNews?newsId=@news.Id">E</a>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a href="/News/AddNews" style="color:red; font-size:x-large">ADD NEWS &raquo;</a>
        </p>
    }

</div>
