@model GroupListViewModel
@using WebMaze.Services
@using WebMaze.EfStuff.DbModel
@inject UserService userService

@section Scripts{
<link rel="stylesheet" href="~/css/Group.css" />
<link rel="stylesheet" href="~/css/Profile.css" />
}
<div class="MyGroup">
    <div class="Groups">
        <div class="tilte_listGroup">
            <a class="title_listGroup_name group_row_Name">Приглашённые участники в группу</a>
        </div>
        <div class="ListGroup">
            @foreach (var GroupUser in Model.Users.Where(u => u.UserLevel.HasFlag(GroupUserLevel.Invited)))
            {
                <div class="isGroup">
                    <a class="group_row_photo">
                        <img class="group_row_img" src="https://www.meme-arsenal.com/memes/15ef8d1ccbb4514e0a758c61e1623b2f.jpg" />
                    </a>
                    <div class="group_row">
                        <a class="group_row_Name">@GroupUser.User.UserName</a>
                        <a class="group_row_counts">Кол-во монет: @GroupUser.User.Coins</a>
                        <a class="group_row_counts">Рейтинг пользователя: @GroupUser.User.GlobalUserRating</a>
                    </div>
                    @if (userService.GetCurrentUser().UsersInGroup.FirstOrDefault(u => u.Group.Id == Model.Id).UserLevel.HasFlag(GroupUserLevel.Admin))
                    {
                        <div class="group_row_title">
                            <ul class="topmenu">
                                <li>
                                    <a href="" class="down">⋮</a>
                                    <ul class="submenu">
                                        <li><a href="~/User/DeleteFromGroup?GroupId=@Model.Id&UserId=@GroupUser.Id">Удалить из группы</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="tilte_listGroup">
            <a class="title_listGroup_name group_row_Name">Участники запросившие доступ в группу</a>
        </div>
        <div class="ListGroup">
            @foreach (var GroupUser in Model.Users.Where(u => u.UserLevel.HasFlag(GroupUserLevel.Requested)))
            {
                <div class="isGroup">
                    <a class="group_row_photo">
                        <img class="group_row_img" src="https://www.meme-arsenal.com/memes/15ef8d1ccbb4514e0a758c61e1623b2f.jpg" />
                    </a>
                    <div class="group_row">
                        <a class="group_row_Name">@GroupUser.User.UserName</a>
                        <a class="group_row_counts">Кол-во монет: @GroupUser.User.Coins</a>
                        <a class="group_row_counts">Рейтинг пользователя: @GroupUser.User.GlobalUserRating</a>
                    </div>
                    @if (userService.GetCurrentUser().UsersInGroup.FirstOrDefault(u => u.Group.Id == Model.Id).UserLevel.HasFlag(GroupUserLevel.Admin))
                    {
                        <div class="group_row_title">
                            <ul class="topmenu">
                                <li>
                                    <a href="" class="down">⋮</a>
                                    <ul class="submenu">
                                        <li><a href="">Принять</a></li>
                                        <li><a href="~/User/DeleteFromGroup?GroupId=@Model.Id&UserId=@GroupUser.Id">Отклонить</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="Groups">
        <div class="tilte_listGroup">
            <a class="title_listGroup_name group_row_Name">Участники группы @Model.Name</a>
        </div>
        <div class="ListGroup">
            @foreach (var GroupUser in Model.Users.Where(u => u.UserLevel.HasFlag(GroupUserLevel.Member)))
            {
                <div class="isGroup">
                    <a class="group_row_photo">
                        <img class="group_row_img" src="https://www.meme-arsenal.com/memes/15ef8d1ccbb4514e0a758c61e1623b2f.jpg" />
                    </a>
                    <div class="group_row">
                        <div class="group_row_title">
                            <a class="group_row_Name">@GroupUser.User.UserName</a>
                            @if (GroupUser.User.Id == userService.GetCurrentUser().Id)
                            {
                                <a>(Я)</a>
                            }
                        </div>
                        <a class="group_row_counts">Кол-во монет: @GroupUser.User.Coins</a>
                        <a class="group_row_counts">Рейтинг пользователя: @GroupUser.User.GlobalUserRating</a>
                    </div>
                    @if (userService.GetCurrentUser().UsersInGroup.FirstOrDefault(u => u.Group.Id == Model.Id).UserLevel.HasFlag(GroupUserLevel.Admin))
                    {
                        <div class="group_row_title">
                            <ul class="topmenu">
                                <li>
                                    <a href="" class="down">⋮</a>
                                    <ul class="submenu">
                                        <li><a href="~/User/DeleteFromGroup?GroupId=@Model.Id&UserId=@GroupUser.Id">Удалить из группы</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                    else if (GroupUser.User.Id == userService.GetCurrentUser().Id)
                    {
                        <div class="group_row_title">
                            <ul class="topmenu">
                                <li>
                                    <a href="" class="down">⋮</a>
                                    <ul class="submenu">
                                        <li><a href="~/User/DeleteFromGroup?GroupId=@Model.Id&UserId=@GroupUser.Id">Выйти из группы</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    @if (Model.Users.Any(u => u.User.Id == userService.GetCurrentUser().Id && u.UserLevel.HasFlag(GroupUserLevel.Admin)))
    {
        <a class="button_add_user" href="~/User/AddInGroup?GroupId=@Model.Id">Invite in Group Users</a>
    }
</div>