@using WebMaze.Controllers
@using WebMaze.Services
@model UserViewModel
@inject UserService userService


@section Scripts{
    <script src="~/js/showHideNews.js"></script>
    <script src="~/js/transaction.js"></script>
    <link rel="stylesheet" href="~/css/profileNews.css" />
}

<div class="user-profile">
    Profile
    <div>
        Hi @Model.UserName
    </div>
    <div>
        You Global Rating: @Model.GlobalUserRating
    </div>
    <div>
        Coins: <span class="profile-coins">@Model.Coins</span>

        <form action="/User/NewCoin" method="post">
            @Html.TextBoxFor(x => x.Coins)
            <input type="submit" value="Change coin count" />
        </form>
    </div>
</div>

@if (userService.IsAdmin)
{
    @if (Model.NotReapitUsersName)
    {
        <div>
            Reapit user names not found
        </div>
    }
    else
    {
        <div>
            <a href="/Admin/DownlodListReapitUsers">Download list reapit users</a>
        </div>
    }
}

<div class="user-profile">
        <div>
            Transaction Field
        </div>
        <div>
            User Name: <input name="userName" type="text" class="transactionUserName" />
        </div>
        <div>
            Coins Count: <input name="coins" type="number" class="transactionCoins" />
        </div>
        <div class="transaction-info">
        </div>

    <div class="js-transaction-field">
        <input type="button" value="Send coins" class="transactionButton" />
    </div>
</div>



@*<div class="header">
        <h2>Your news</h2>
    </div>*@

@if (Model.News.Any())
{

    <div class="btn">
        <input type="button" value="SHOW" />
    </div>

    <div class="users-news hidden">
        <div class="row justify-content-center">
            <table class="table table-bordered">
                <thead>
                    <tr class="align-content-md-center">
                        <th scope="col">Title of news</th>
                        <th scope="col">Text of news</th>
                        <th scope="col">Location of news</th>
                        <th scope="col">Date of event</th>
                        <th scope="col">Date of creation</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var news in Model.News)
                    {
                        <tr>
                            <td>
                                <span>@news.Title</span>
                            </td>
                            <td>
                                <span>@news.Text</span>
                            </td>

                            <td>
                                <span>@news.Location</span>
                            </td>
                            <td>
                                <span>@news.EventDate.ToShortDateString()</span>
                            </td>
                            <td>
                                <span>@news.CreationDate.ToShortDateString()</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}