@model UserViewModel

@section Scripts{
<script src="~/js/showHideNews.js"></script>
<link rel="stylesheet" href="~/css/Profile.css" />
<link rel="stylesheet" href="~/css/profileNews.css" />
}

<div>
    Profile
    <div>
        Hi @Model.UserName
    </div>
    <div>
        You Global Rating: @Model.GlobalUserRating
    </div>
    <div>
        Coins: @Model.Coins

        <form action="/User/NewCoin" method="post">
            @Html.TextBoxFor(x => x.Coins)
            <input type="submit" value="Change coin count" />
        </form>
    </div>
</div>

@*<div class="header">
    <h2>Your news</h2>
    </div>*@
<div class="Groups">
    <div class="tilte_listGroup">
        <a class="title_listGroup_name group_row_Name">Мои группы</a>
        <a class="button_add_group group_row_Name" href="~/User/AddGroup">Добавить группу</a>
    </div>
    <div class="ListGroup">
        @foreach (var GroupUser in Model.UsersInGroup.Where(u => u.IsActive).ToList())
        {
            <div class="isGroup">
                <a class="group_row_photo" href="/User/MyGroup?IdGroup=@GroupUser.Group.Id">
                    <img class="group_row_img" src="https://www.meme-arsenal.com/memes/15ef8d1ccbb4514e0a758c61e1623b2f.jpg" />
                </a>
                <div class="group_row">
                    <a class="group_row_counts">Участников в группе: @GroupUser.Group.Users.Where(u => u.IsActive).ToList().Count</a>
                </div>
                <div class="group_row_title">
                    <a class="group_row_Name" href="/User/MyGroup?IdGroup=@GroupUser.Group.Id">@GroupUser.Group.Name</a>
                </div>
            </div>
        }
    </div>
    <div class="MyGroup">
        Will Done.
    </div>
</div>
@if (Model.News.Any())
{

    <div class="btn">
        <input type="button" value="SHOW" />
    </div>

    <div class="users-news hidden">
        <div class="row justify-content-center">
            <table class="table table-bordered">
                <thead>
                    <tr class="align-content-md-center">
                        <th scope="col">Title of news</th>
                        <th scope="col">Text of news</th>
                        <th scope="col">Location of news</th>
                        <th scope="col">Date of event</th>
                        <th scope="col">Date of creation</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var news in Model.News)
                    {
                        <tr>
                            <td>
                                <span>@news.Title</span>
                            </td>
                            <td>
                                <span>@news.Text</span>
                            </td>

                            <td>
                                <span>@news.Location</span>
                            </td>
                            <td>
                                <span>@news.EventDate.ToShortDateString()</span>
                            </td>
                            <td>
                                <span>@news.CreationDate.ToShortDateString()</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}