@using System.Collections.Generic;
@using WebMaze.Models.CurrencyDto
@using System
@model List<CurrencyRateViewModel>
@{
    var dateNow = DateTime.Now;

    string dateToday = dateNow.ToString("yyyy-MM-dd");
    string minDatePeriod = dateNow.AddYears(-1).ToString("yyyy-MM-dd");
    string minOnDate = dateNow.AddMonths(-3).ToString("yyyy-MM-dd");
}

@section Scripts{
<script src="~/js/Currency/currency.js"></script>
}


<div>
    Currency:
    <select class="type" name="typeOfRequest">
        <option value="1">Get by Id</option>
        <option value="2">Get on Date</option>
        <option value="3">Get on Period</option>
    </select>

    <div class="GetById">
        <select name="currency">
            @foreach (var item in Model)
            {
                <option value="@item.Cur_ID">@item.Cur_Name</option>
            }
        </select>
        <input class="getById" type="button" value="Get" />
    </div>

    <div class="GetOnDate">
        <select name="currency">
            @foreach (var item in Model)
            {
                <option value="@item.Cur_ID">@item.Cur_Name</option>
            }
        </select>
        On date:<input name="onDate" value="@dateToday" type="date" min="@minOnDate" max="@dateToday" />
        <input class="getOnDate" type="button" value="Get" />
    </div>

    <div class="GetOnPeriod">
        <div class="add">
            Add
        </div>
        <div class="fields">

        </div>
        <div class="dates">
            startDate:<input name="startDate" value="@minDatePeriod" type="date" min="@minDatePeriod" max="@dateToday" />
            endDate:<input name="endDate" value="@dateToday" type="date" min="@minDatePeriod" max="@dateToday" />
        </div>
        <input class="getOnPeriod-button" type="button" value="Get" />
        <div class="remove">
            Remove
        </div>
    </div>


    <div class="getOnPeriod-field base">
        <select name="currency">
            @foreach (var item in Model)
            {
                <option value="@item.Cur_ID">@item.Cur_Name</option>
            }
        </select>
    </div>
</div>