@model List<StuffForHeroViewModel>

@section Scripts{ 
    <link rel="stylesheet" href="~/css/AddStuffForHero.css" />
}

<div class="background stuff">
    <div class="intro">
        Design exclusive features for your HERO
    </div>
    <div class="create-button">
        <a class="button" href="/Stuff/AddStuffForHero">
            Create stuff
        </a>
    </div>

    @foreach (var stuff in Model)
    {
        <div class="stuff-list">
            <div class="stuff stuff--1">
                <div class="picture">
                    <img class="gun" src='@stuff.PictureLink' />
                </div>
                <div class="info">
                    <div class="name">
                        Name: @stuff.Name
                    </div>
                    <div class="description">
                        Description:  @stuff.Description
                    </div>
                    <div class="price">
                        Price: @stuff.Price
                    </div>
                    <div>
                        Author: @stuff.Proposer
                    </div>
                    <div>
                        Rating: @stuff.GlobalUserRating
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                <div>
                    <a href="@Url.Action("Wonderful","Stuff", new {@stuffId = stuff.Id})" class="good-button">Wonderful</a>
                    <a href="@Url.Action("Awful","Stuff", new {@stuffId = stuff.Id})" class="bad-button">Awful</a>

                </div>
                    }
                    <div>
                        <a href="/Stuff/RemoveStuff?stuffId=@stuff.Id">X</a>
                        <a href="/Stuff/AddStuffForHero?stuffId=@stuff.Id">E</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>