@model SuggestedEnemysViewModel

<div class="text-center">
    <h3>You can suggest your enemy here.</h3>
    <form action="/Suggested/AddSuggestedEnemy" method="post">
        @Html.HiddenFor(x => x.Id)
        <div>
            Enemy name @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div>
            Image @Html.TextBoxFor(x => x.Url, new { @placeholder = "url" })
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Url)
        </div>
        <div>
            Description @Html.TextAreaFor(x => x.Description)
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>