@model SuggestedEnemysViewModel

<div class="text-center">
    <h3>You can suggest your enemy here.</h3>
    <form action="/Suggested/AddSuggestedEnemy" method="post" class="form" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.Id)
        <div>
            Enemy name @Html.TextBoxFor(x => x.Name)
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div>
            Image 
            <input type="file" name="@nameof(SuggestedEnemysViewModel.ImageFile)" />
        </div>        
        <div>
            Description @Html.TextAreaFor(x => x.Description)
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div>
            @Html.ValidationSummary(true)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>