@model List<NewCellSuggestionViewModel>

<div class="text-center">
    <div>
        <h3>List of new cells suggestions:</h3>
    </div>
    <div>
        @{int i = 0;}
        @foreach (var newCellSuggestionViewModel in Model)
        {
            <div>
                @newCellSuggestionViewModel.Title
                <a href="#hidden @i " onclick="view('hidden @i'); return false">Details... </a>
                <div id="hidden @i" style="display: none;">
                    <p>Description: @newCellSuggestionViewModel.Description</p>
                    <p>
                        Money: @newCellSuggestionViewModel.MoneyChange
                        Healts: @newCellSuggestionViewModel.HealtsChange
                        Fatigue: @newCellSuggestionViewModel.FatigueChange
                    </p>
                    <p>User Name: @newCellSuggestionViewModel.UserName</p>
                    <p>Rating: @newCellSuggestionViewModel.GlobalUserRating</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <button class="good-button" onclick="location.href = '@Url.Action("WonderfulNewCellSuggestion", new { @newCellSuggestionId = newCellSuggestionViewModel.Id})'">Wonderful</button>
                            <button class="bad-button">Awful</button>
                        </div>
                    }
                    <a href="/Suggested/AddNewCellSugg?Id=@newCellSuggestionViewModel.Id"><input type="submit" value="Edit" /></a>
                    <a href="/Suggested/RemoveNewCellSuggestion?Id=@newCellSuggestionViewModel.Id"><input type="submit" value="Remove" /></a>
                    @{++i;}
                </div>
            </div>
        }
    </div>
    <div>
        <a href="/Suggested/AddNewCellSugg"><input type="submit" value="Add new cell suggestion" /></a>
    </div>
</div>
<script>
    function view(n) {
        style = document.getElementById(n).style;
        style.display = (style.display == 'block') ? 'none' : 'block';
    }</script>