@model List<SuggestedEnemysViewModel>

@{
    Layout = "_LayoutYellowTeam";
}

<div class="text-center">
    <h3>
        SUGGESTED ENEMYS
    </h3>

    <div>


        @foreach (var suggestedEnemys in Model)

        {
            if (suggestedEnemys.IsActive == true)
            {
                <div class="enemy">
                    <div class="enemy_001">
                        <div>
                            @*<a href="/Home/EditSuggestedEnemy?suggestedEnemys=@suggestedEnemys"><input type="submit" value="EDIT" /></a>*@
                            <a href="/Suggested/RemoveSuggestedEnemy?suggestedEnemysId=@suggestedEnemys.Id"><input type="submit" value="DELETE" /></a>
                        </div>
                        <div>
                            @suggestedEnemys.Name

                        </div>
                        <div>
                            @suggestedEnemys.Description
                        </div>
                        <div>
                            Author: @suggestedEnemys.UserName
                        </div>
                        <div>
                            Rating: @suggestedEnemys.GlobalUserRating
                        </div>
                    </div>
                    <div>
                        <img class=" enemy_002" src="@suggestedEnemys.Url" />
                    </div>
                </div>
            }
            else { };

        }

    </div>

</div>