@model MinerFieldViewModel

<script src="~/js/miner.js"></script>

<div class="miner-all">
    <div class="playspace">
        @for (var i = 0; i < 18; i++)
        {
            var minerClass = "miner-element" + i.ToString();

            if (i < 2 || (i > 7 && i < 10) || (i > 13 && i < 16))
            {
                <img src="~/images/miner_buttons/w.png" class="@minerClass miner-elements" />
            }
            else if ((i > 9 && i < 12) || (i > 15 && i < 18))
            {
                <img src="~/images/miner_buttons/br.png" class="@minerClass miner-elements" />
            }
            else if (i > 3 && i < 6)
            {
                <img src="~/images/miner_buttons/ul.png" class="@minerClass miner-elements" />
            }
            else
            {
                <img src="~/images/miner_buttons/dg.png" class="@minerClass miner-elements" />
            }
        }

        <a href="/Miner/StartGame">
            @if (Model.IsOver)
            {
                <img src="~/images/miner_buttons/face_dead.png" class="face miner-elements" />
            }
            else if (Model.IsWon)
            {
                <img src="~/images/miner_buttons/face_win.png" class="face miner-elements" />
            }
            else
            {
                <img src="~/images/miner_buttons/face0.png" class="face miner-elements" />
            }
        </a>

        @for (var i = 0; i < 6; i++)
        {
            var minerClass = "miner-number" + i.ToString();
            <img src="~/images/miner_buttons/d0.png" class="@minerClass miner-elements miner-numbers" />
        }

        <div class="miner-field">
            @for (int y = 0; y < Model.Height; y++)
            {
            <div class="row">
                @for (int x = 0; x < Model.Width; x++)
                {
                    var cell = Model.Cells.Single(c => c.X == x && c.Y == y);
                    if (cell.IsOpen)
                    {
                        if (cell.IsBomb)
                        {
                            <img src="~/images/miner_buttons/bomb1.png" width="29" />
                        }
                        else
                        {
                            var str = cell.NearBombsCount.ToString();
                            var minerSource = "../../images/miner_buttons/t" + str + ".png";
                            <img src="@minerSource" width="29" onclick="openNear(@cell.Id)"/>;
                        }
                    }
                else
                {
                    if (!Model.IsWon)
                    {
                        if (@cell.IsFlag)
                        {
                            <a href="/Miner/Step?id=@cell.Id"> <img src="~/images/miner_buttons/miner_flag.png" width="29" onclick="time1(); time2(); time3();" oncontextmenu="setFlag(@cell.Id)" /></a>
                        }
                        else
                        {
                            <a href="/Miner/Step?id=@cell.Id" onclick="time1(); time2(); time3();"> <img src="~/images/miner_buttons/miner_button.png" width="29" onclick="time1(); time2(); time3();" oncontextmenu="setFlag(@cell.Id)" /></a>
                        }
                    }
                    else
                    {
                        if (cell.IsFlag)
                        {
                            <a href=#> <img src="~/images/miner_buttons/miner_flag.png" width="29" /></a>
                        }
                        else
                        {
                            <a href=#> <img src="~/images/miner_buttons/miner_button.png" width="29" /></a>
                        }
                    }
                }
            }
            </div>
            }
        </div>

    </div>
    @if (Model.IsOver)
    {
        <div class="game-over-1 h1">Game</div>
        <div class="game-over-2 h1">over!</div>
    }
    @if (Model.IsWon)
    {
        <div class="you-won-1 h2">You</div>
        <div class="you-won-2 h2">won!</div>
    }
</div>


