@model FeedBackUserViewModel
<div class="review">

    <div class="rname-ico">
        <img src="https://media.pn.am/media/issue/197/297/photo/197297.jpg" class="img-review" />
    </div>
    <div class="rname-ico-text">
        <div>
            Name: @Model.Creator.UserName
        </div>
        <div>
            <div>Rating: @Model.Rate</div>
        </div>
    </div>
    <div class="rate-text">
        @Model.TextInfo
    </div>


</div>
<form action="/Reviews/ChangeReviewForm" method="post" class="rate-put">
    @Html.HiddenFor(x=> x.Id)
    @Html.HiddenFor(x=>x.UserName)
    <div>Изменить отзыв</div>
    <div>
        <div>
            <select name="Rate" size="2">
                <option disabled="disabled">Оцените проект</option>
                <option value="1" selected="selected">Rate: 1</option>
                <option value="2">Rate: 2</option>
                <option value="3">Rate: 3</option>
                <option value="4">Rate: 4</option>
                <option value="5">Rate: 5</option>
            </select>
            <div>@Html.ValidationMessageFor(x => x.Rate)</div>
        </div>
        <div>
            <textarea name="TextInfo" placeholder="Comment"></textarea>
            <div>@Html.ValidationMessageFor(x => x.TextInfo)</div>
        </div>
        <div>
            <input type="submit" value="Изменить" />
            <a href="/Reviews/Index" style="text-decoration: none; color: #808080;">Отменить</a>
        </div>
    </div>
</form>